@import "../mixins.scss";


.btn {
  padding: (((1em + $input-padding-vertical * 2) / 1em * $input-font-size - $btn-font-size * $btn-line-height) * 0.5 / $btn-font-size * 1em) 1em;

  background-color: #fafbfc;
  border: 1px solid rgba(#1b1f23, 0.15);
  border-radius: 5px;
  box-shadow: 0 1px 0 rgba(#1b1f23, 0.08), inset 0 1px 0 0 rgba(#fff, 0.25);

  font-size: $btn-font-size;
  font-weight: 500;
  line-height: $btn-line-height;

  transition: background-color $dur-long;

  &:hover, &.btn_hover {
    background-color: #f3f4f6;
  }

  &:focus {
    box-shadow: $std-box-shadow-highlight;
  }

  &:active {
    background-color: #e7e9ed; // = darken(#f3f4f6, 4%);
    transition-duration: $dur-short;
  }

  &:disabled {
    box-shadow: none;
    opacity: 0.8;

    color: #666;
  }


  $variants: (
    "accent": ($system-blue, 5%, 9%),
    "error": ($system-red, 11%, 15%),
    "warn": ($system-orange, 2%, 5%)
  );

  &--none {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;

    transition: background-color $dur-long, border-color $dur-long;

    &:hover {
      background-color: #e0e0e0;
      border-color: #ccc;
    }
  }

  &--center {
    text-align: center;
  }

  &--small {
    padding: 0.55em 0.8em;

    border-radius: 4px;

    font-size: 0.8rem;
  }

  // does not work on input elements
  &._loading {
    position: relative;
    // padding-left: 2.8em;
    padding-right: 2.8em;

    &::after {
      content: '';

      display: inline-block;
      width: 1.1em;
      height: 1.1em;

      position: absolute;
      right: 1em;
      top: calc(50% - 0.5em);


      border: 0.2em solid currentColor;
      border-right-color: transparent;
      border-radius: 50%;

      animation: spinner-border 750ms linear infinite;


      @keyframes spinner-border {
        100% {
          transform: rotate(360deg);
        }
      }
    }
  }
}

.btn-link {
  color: $system-blue;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    box-shadow: $std-box-shadow-highlight;
  }
}


.actions {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  column-gap: 1em;

  > * { width: auto; }

  &-group {
    display: flex;
    @include column-gap($std-gap);

    > * { width: auto; }
  }

  :not(.status):not(:only-child):last-child, &--right > :first-child {
    grid-column: 3;
  }

  &--block {
    margin: 1.5rem 0;
    padding: 0.8rem 1.6rem;

    background-color: #eee;
    border-radius: $input-border-radius;
  }

  /* @include media-breakpoint-down(md) {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    .actions-group {
      > * {
        width: 100%;
        text-align: center;
      }
    }
  } */
}
