.form-control {
  label {
    margin-bottom: 0.3em;
    padding: 0 0.5em;

    font-size: 0.9em;
    font-weight: 600;
  }
}

.form-controlselection {
  display: flex;
  align-items: center;
  column-gap: 1rem;

  font-weight: 500;

  &, label { cursor: pointer; }
}


.form-fields {
  display: grid;
  grid-template-columns: fit-content(220px) 260px auto;
  align-items: center;
  gap: 0.4rem 1rem;

  .input {
  }

  label {
    grid-column-start: 1;

    font-weight: 600;
    text-align: right;
  }

  > button {
    grid-column-start: 2;

    &, + .form-status {
      margin-top: 1em;
    }
  }
}

.form-flowing {
  display: grid;
  gap: 0.7rem $std-gap;
  grid-template-columns: 50% 50%;

  max-width: 600px;
  margin: 1rem 0;

  &-line {
    grid-column: 1 / span 2;
  }
}

.form-status {
  margin: 1em 0;

  font-size: 0.9em;
  font-weight: 500;

  &--error {
    color: $system-red;
  }

  &--success {
    color: $system-green;
  }

  .form-fields > &--line {
    grid-column: 2 / 4;
    margin: 0.8em 0;
  }
}
