.input {
  padding: 0 $input-padding-horizontal;

  border: $input-border;
  background-color: $input-background-color;
  border-radius: $input-border-radius;

  font-size: $input-font-size;
  // line-height: 1;

  $duration: $dur-short;
  transition: background-color $duration, border-color $duration, box-shadow $duration;

  &:disabled {
    opacity: 0.6;
  }

  // A polyfill for :user-invalid.
  &:invalid:not(:focus) {
    &:not(.__inputable), &.__inputted {
      border-color: $system-red;
    }
  }

  &:hover {
    border-color: $input-border-color-hover;
    box-shadow: $input-box-shadow-inset-hover;
  }

  &:focus {
    background-color: $input-background-color-focus;
    border-color: $system-blue;
    box-shadow: $input-box-shadow-inset-focus, $std-box-shadow-highlight;
  }

  &::placeholder {
    color: $input-placeholder-color;
  }

  @at-root input, select {
    &.input {
      height: calc(#{$input-font-size + 2 * $input-padding-vertical} + 2px);
    }
  }

  @at-root textarea {
    &.input {
      line-height: 1.3;
      resize: vertical;
    }
  }


  &--monospace {
    font-family: $monospace-font;
  }
}


.input-flat {
  height: calc(#{$input-font-size + 2 * $input-padding-vertical} + 2px);
  padding: $input-padding-vertical 0;

  border-bottom: 1px solid #eee;

  transition: border-color $dur-short;

  &:hover, &:not(:placeholder-shown) {
    border-color: #ddd;
  }

  &:focus {
    border-color: #bbb;
  }

  &::placeholder {
    color: $input-placeholder-color;
  }
}


.input-datetime {
  display: grid;
  grid-template-columns: 60fr 40fr;
  column-gap: 0.4rem;
}


.input-radio {
  width: 1em;
  height: 1em;

  position: relative;

  border: 0.15em /* 2.3px */ solid currentColor;
  border-radius: 50%;

  cursor: pointer;

  &:disabled {
    opacity: 0.5;
  }

  &::after {
    content: '';

    width: 100%;
    height: 100%;

    position: absolute;

    border: 0.16em /* 2.5px */ solid #fff;
    border-radius: 50%;
  }

  &:checked::after {
    background-color: currentColor;
  }
}


// TODO: improve using https://css-tricks.com/sliding-nightmare-understanding-range-input/.
.input-range {
  height: calc(#{($input-font-size + $input-padding-vertical * 2) / 1em * $input-font-size} + 2px);

  position: relative;
  top: 1px;

  &:focus-visible {
    box-shadow: $std-box-shadow-highlight;
  }

}


.select {
  position: relative;
  height: min-content;

  &:before, &:after {
    display: inline-block;
    content: '';

    position: absolute;
    right: 1.2em;

    border-right: 5px solid transparent;
    border-left: 5px solid transparent;

    pointer-events: none;
  }

  &:before {
    top: calc(50% + 1px);
    border-top: 5px solid #000;
  }

  &:after {
    bottom: calc(50% + 1px);
    border-bottom: 5px solid #000;
  }

  select {
    padding-right: 2.5em;
  }

  &--hover {
    &:before, &:after {
      transition: opacity var(--arrows-transition-duration);
    }

    &:not(:hover), &._disabled {
      &:before, &:after {
        opacity: 0;
      }
    }
  }
}


.input-checkbox {
  width: 1em;
  height: 1em;

  background-color: #ccc;
  border: 1px solid #bbb;
  border-radius: 4px;

  cursor: pointer;

  &::after {
    content: '✓';

    position: relative;
    left: 0.13em;
    top: -0.28em;

    color: #666;
    font-size: 0.8em;
  }

  &:not(:checked)::after {
    opacity: 0;
  }
}


.input-checkbox-1 {
  --color-unchecked: #ccc;
  --color-checked: #{$system-blue};
  --duration: 300ms;

  & {
    width: 2em;
    height: 1.2em;

    position: relative;

    background-color: #fff;
    border: 1px solid var(--color-unchecked);
    border-radius: 2em;
    box-shadow: inset -0.8em 0 0 0 var(--color-unchecked);

    cursor: pointer;
    transition: border-color var(--duration), box-shadow var(--duration);
  }

  &:active {
    box-shadow: inset -0.6em 0 0 0 var(--color-unchecked);
  }

  &:checked {
    border-color: var(--color-checked);
    box-shadow: inset 0.8em 0 0 0 var(--color-checked);
  }

  &:checked:active {
    box-shadow: inset 0.6em 0 0 0 var(--color-checked);
  }
}

.input-checkbox-2 {
  --color-unchecked: #ccc;
  --color-checked: #{$system-blue};
  --duration: 300ms;

  --background-height: 0.9em;
  --handle-size: 1.1em;

  & {
    width: 2em;
    height: var(--background-height);

    position: relative;

    background-color: var(--color-unchecked);
    border-radius: 2em;
    box-shadow: inset 1.1em 0 0 0 var(--color-unchecked);

    cursor: pointer;
    transition: box-shadow calc(var(--duration) * 0.5);
  }

  &:checked {
    // background-color: var(--color-checked);
    box-shadow: inset 1.1em 0 0 0 var(--color-checked);
    transition: box-shadow calc(var(--duration) * 1.5);
  }

  &:disabled {
    filter: grayscale(1);
    opacity: 0.5;
  }

  &:focus-visible::before {
    display: block;
    content: "";

    box-shadow: $std-box-shadow-highlight;

    width: 100%;
    height: 100%;
  }

  &::after {
    content: "";

    width: var(--handle-size);
    height: var(--handle-size);

    position: absolute;
    left: -0.1em;
    top: calc((var(--background-height) - var(--handle-size)) * 0.5);

    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(#000, 0.4);

    transition: left var(--duration);
  }

  &:checked::after {
    left: calc(100% - var(--handle-size) + 0.1em);
  }
}
