.dialog {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  overflow-y: auto;

  &-container {
    display: flex;
    padding: 2rem 0;

    background-color: rgba(#000, 0.2);
    min-height: 100%;
  }

  &-contents {
    width: 56vw;
    min-width: 700px;

    margin: auto;
    padding: 0.6rem 2rem 2rem 2rem;

    background-color: #fff;
    border: 1px solid rgba(#000, 0.3);
    border-radius: 6px;
    filter: drop-shadow(0 0 5px rgba(#000, 0.2));
  }

  h2 {
    margin: 1.4rem 0;

    font-size: 1.8rem;
  }

  &-settings {
    display: grid;
    align-items: center;
    column-gap: $std-gap;
    grid-template-columns: auto auto 1fr auto;

    select {
      width: auto;
      min-width: 200px;
    }

    label {
      display: flex;
      align-items: center;
      @include column-gap(0.5rem);

      grid-column: -1;

      font-size: 0.9rem;
      font-weight: 500;

      cursor: pointer;
    }
  }
}

.device {
  &-list {
    margin: 1rem 0;

    border: 1px solid #ccc;
    border-radius: 4px;
  }

  &-item--blank {
    padding: 0.8rem 1.5rem;

    color: #999;
    font-style: italic;
  }

  &-item:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }

  &-item:first-child &-button { border-radius: 4px 4px 0 0; }
  &-item:last-child &-button { border-radius: 0 0 4px 4px; }
  &-item:only-child &-button { border-radius: 4px; }

  &-button {
    display: grid;
    align-items: center;
    column-gap: 1rem;
    grid-template-columns: 1fr auto;

    padding: 0.8rem 1.5rem;

    &:hover {
      background-color: #fafafa;
    }

    .device-list._disabled & {
      pointer-events: none;
    }

    &:not(._loading) .device-loading {
      display: none;
    }
  }

  &-name {
    font-weight: 600;
  }

  &-description {
    grid-column: 1;
    margin-top: 0.2rem;

    color: #999;
    font-size: 0.9rem;
  }

  &-loading {
    grid-column: 2;
    grid-row: 1 / 3;

    font-weight: 500;

    @extend %spinner-right;
  }


  // Support for older browsers.

  &-button {
    display: unset;
    position: relative;
  }

  &-name, &-description {
    padding-right: 150px;
  }

  &-loading {
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
  }
}
