* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.device {
  display: grid;
  grid-template-columns: 300px auto;

  width: 50%;
}

.device-name {
  font-weight: 500;
}
