$monospace-font: ui-monospace, Menlo, monospace;
$system-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$accent-color: #010c2b;
$background-color: #eee;
$highlight-blue: #0366d6;
$side-margin: 22vw;


$system-blue: #007aff;
$system-blue-dark: #0a84ff;

$system-green: #34c759;
$system-green-dark: #30d158;

$system-orange: #ff9500;
$system-orange-dark: #ff9f00;

$system-red: #ff2d55;
$system-red-dark: #ff375f;

$system-maroon: #85144b;


$dur-short: 150ms;
$dur-long: 300ms;


$std-box-shadow-highlight: 0 0 0 3px rgba($highlight-blue, 0.4);
$std-selector: ":is(.btn, .input, .inputnumber)";
$std-gap: 0.5em;

$input-background-color: #fafafa;
$input-background-color-focus: #fdfdfd;
$input-border-color: #ccc;
$input-border-color-hover: #bbb;
$input-border: 1px solid $input-border-color;
$input-border-radius: 4px;
$input-padding-horizontal: 0.8em;
$input-padding-vertical: 0.6em;
$input-padding: $input-padding-vertical $input-padding-horizontal;
$input-box-shadow-inset-focus: inset 3px 3px 3px rgba(#000, 0.05);
$input-box-shadow-inset-hover: inset 3px 3px 3px rgba(#000, 0.03);
$input-placeholder-color: #aaa;
$input-font-size: 1em;

$btn-font-size: 0.9em;
$btn-line-height: 1.2;
