@use "sass:list";

@import "./core/button";
@import "./core/form";
@import "./core/input";


.status {
  font-weight: 500;

  &--error { color: $system-red; }
  &--success { color: $system-green; }
}


.global-status {
  margin: 3em 0;

  color: #999;
  font-weight: 500;
  text-align: center;

  user-select: none;

  &--error { color: $system-red; }
}


.localheader {
  display: grid;
  grid-template-areas: "back title buttons";
  grid-template-columns: calc(var(--left-margin, var(--side-margin, 3rem)) - 3rem) auto 1fr;
  align-items: center;
  column-gap: 3rem;

  margin-left: calc(-1 * var(--left-margin, var(--side-margin, 3rem)));
  margin-bottom: 1rem;

  > a:first-child, > button:first-child {
    width: auto;
    grid-area: back;
    justify-self: end;

    color: #aaa;
    font-weight: 500;

    transition: color $dur-short;

    &:focus-visible {
      box-shadow: $std-box-shadow-highlight;
    }

    &:hover {
      color: #888;
    }
  }

  h1, h2 {
    grid-area: title;
    margin: 0.3em 0;
  }

  > :not(h1, h2):last-child {
    width: auto;
    grid-area: buttons;
    justify-self: end;
  }
}


.terminal {
  padding: 1.5em;

  background-color: #000;
  border-radius: 6px;

  color: #fff;
  font-family: $monospace-font;
  font-size: 0.85rem;
  line-height: 1.4;

  // word-break: break-all;
  overflow-wrap: break-word;

  &-error { color: $system-red-dark; }
  &-success { color: $system-green-dark; }

  @at-root pre {
    &.terminal {
      white-space: pre-wrap;
    }
  }
}


.key {
  padding: 2px 4px;

  background-color: #eee;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  box-shadow:
    0 1px 1px rgba(#000, 0.2),
    0 2px 0 0 rgba(#fff, 0.7) inset;

  color: #333;
  font-family: $monospace-font;
  font-size: 0.85em;
  font-weight: 600;
  line-height: 1;

  white-space: nowrap;
}
