@import "./constants.scss";
@import "./core.scss";
@import "./mixins.scss";
@import "./reset.scss";

@import "./protocol-overview.scss";
@import "./components/dialog.scss";


%light-text {
  color: #999;
  font-size: 0.9rem;
}


*:not(input) {
  user-select: none;
}

*::-webkit-scrollbar {
  display: none;
}




html {
  font-size: 16px;
}


body {
  overscroll-behavior: none;

  font-family: $system-font;
}

code {
  font-family: $monospace-font;
  font-size: 0.95em;
}


// Polyfill for overscroll-behavior: none;

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}

// End of polyfill.


body {
  display: grid;
  grid-template-rows: auto auto 1fr;

  padding: 2rem 10vw;
  padding-top: 0;
}

nav {
  display: flex;
  margin-bottom: 2rem;

  button {
    width: auto;
    padding: 1em;

    border: 1px solid transparent;
    border-top-width: 0;
    border-radius: 0 0 3px 3px;

    font-weight: 500;

    &:hover {
      background-color: #f9f9f9;
    }

    &._active {
      background-color: #f3f3f3;
      border-color: #ddd;

      pointer-events: none;
    }

    &:not(._active) {
      transition: background-color $dur-short, border-color $dur-short;
    }
  }
}

header {
  display: grid;
  align-items: center;
  column-gap: 1.2rem;
  grid-template-columns: max-content 1fr auto;

  margin-bottom: 1rem;
}

h1 {
  margin-right: 1em;
}

/* h2 {
  margin: 0.6em 0;

  font-size: 1.6rem;
} */

.devicestatus {
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  font-weight: 500;
  text-align: right;

  /* &::before {
    content: '\25cf';
    margin-right: 0.4em;

    color: var(--color);
    text-shadow: 0 1px 2px var(--color);
  }

  &--off { --color: #ff4136; }
  &--on { --color: #2ecc40; } */

  &--off {
    color: #999;
  }
}

.blank {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  @include row-gap(1rem);

  height: 100%;
  padding-bottom: 4rem;

  button {
    width: auto;
  }

  &-buttons {
    display: flex;
    @include column-gap($std-gap);
  }
}


.valvecontrol {
  &-list {
    /* display: flex;
    flex-wrap: wrap; */

    display: grid;
    gap: 0.2rem;
    // grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));

    margin: 2rem 0;
  }

  &-item {
    display: grid;
    align-items: center;
    column-gap: 0.8rem;
    grid-template-columns: 1fr auto auto;

    padding: 0.5rem 0.8rem;

    background-color: #fafafa;
    border: 1px dashed transparent;
    // border: 1px solid #666;

    cursor: pointer;

    &._active {
      background-color: #eee;
    }

    &._selected {
      $color: rgba(#aaa, 0.2);
      $width: 1px;
      $spacing: 5px;

      background-image: repeating-linear-gradient(-45deg, transparent, transparent $spacing, $color $spacing, $color $spacing + $width);
      border-color: #aaa;
    }

    input {
      pointer-events: none;
    }
  }

  &-name {
    font-family: ui-monospace, Menlo, monospace;
    font-weight: 600;
  }

  &-state {
    color: #999;
    font-size: 0.9rem;
  }
}


figure {
  margin: 2.5rem 0;

  svg {
    width: 100%;
  }

  path {
    cursor: pointer;
    pointer-events: all;
    fill: var(--color);

    // opacity: 0.7;
  }

  g[data-layer-index="0"] { --color: #0074d9; }
  g[data-layer-index="1"] { --color: #ff4136; }
  g[data-layer-index="2"] { --color: #2ecc40; }
  g[data-layer-index="3"] { --color: #ff851b; }

  g:not(:hover):not(._active):not(._selected) path {
    opacity: 0.8;
    fill: #000;
  }

  g._selected {
    opacity: 0.5;
  }
}


.step {
  &-list {
    max-width: 500px;
  }

  &-status {
    margin-bottom: 0.3rem;

    @extend %light-text;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1rem;
  }

  &-name {
    font-size: 1.4rem;
    font-weight: 600;
  }

  &-duration {
    color: #999;
  }

  &-description {
    margin: 1rem 0;
  }

  &-progress {
    height: 6px;

    margin: 1rem 0;

    background-color: #eee;
    border-radius: 4px;

    &._disabled {
      opacity: 0.6;
    }

    &-inner {
      width: 0;
      height: 6px;

      background-color: $system-blue;
      border-radius: 4px;
    }

    &._paused &-inner {
      background-color: #666;
    }
  }

  &-footer {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;

    margin: 1rem 0;
  }

  &-timeleft {
    @extend %light-text;
  }

  &-actions {
    display: flex;
    justify-content: end;
    @include column-gap($std-gap);

    > * {
      width: auto;
    }
  }
}


.setup {
  max-width: 600px;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 1.8rem 0 1.2rem 0;

    button {
      width: auto;
    }
  }

  &-warnings {
    & {
      display: flex;
      flex-direction: column;
      @include row-gap(0.5rem);

      margin: 1rem 0 1rem 0.5rem;
    }

    strong {
      position: relative;
      margin-right: 0.5em;

      color: #fff;
      font-family: $monospace-font;

      &::before {
        content: "";

        width: 100%;
        height: 100%;

        position: absolute;
        transform: scale(1.2, 1);
        z-index: -1;

        background-color: $system-orange;
      }
    }
  }
}


.run {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 6rem;

  margin-top: 1rem;

  &-protocol {
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        width: auto;
      }
    }
  }
}
