.valve {
  &-list {
    display: flex;
    @include column-gap(0.3rem);
    flex-wrap: wrap;
    // row-gap: 0.3rem;

    margin-bottom: -0.4rem; // Polyfill for row-gap.
  }

  &-item {
    margin-bottom: 0.4rem; // Polyfill for row-gap.
    padding: 0.15em 0.35em;

    border-radius: 4px;

    color: #fff;
    font-family: $monospace-font;
    font-size: 0.9rem;
    font-weight: 500;

    ._alternate {
      @include striated(rgba(#000, 0.2), 3px, 6px);
    }

    &._inactive {
      opacity: 0.4;
    }

    $colors: ($system-maroon, $system-red, $system-orange, $system-green, $system-blue);

    @for $index from 1 through length($colors) {
      &--#{$index - 1} {
        background-color: nth($colors, $index);
      }
    }

    &--none {
      background-color: #000;
    }
  }

  &-empty {
    padding-left: 0.4em;

    @extend %light-text;
    font-style: italic;
  }
}


.proto {
  h2 {
    margin: 1rem 0;
  }

  &-stageheader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 1.5rem 0 1rem 0;

    button {
      width: auto;

      color: #aaa;
      font-size: 0.9rem;

      transition: color $dur-short;

      &:hover {
        color: #333;
      }
    }
  }

  /* &-stagename {

  } */

  &-steplist {
    display: flex;
    flex-direction: column;
    @include row-gap(0.5rem);

    margin: 1rem 0;
  }

  &-step {
    border: 1px solid #ddd;
    border-radius: 4px;

    transition: border-color $dur-short;

    &:hover, &._open {
      border-color: #ccc;
    }

    &._open {
      box-shadow: 2px 2px 2px rgba(#000, 0.03);
    }
  }


  &-stepheader {
    display: flex;
    align-items: baseline;

    padding: 0.8rem 1.5rem;

    background-color: #fafafa;
    border-radius: 4px;

    // For the arrow.
    &::before {
      $size: 6px;

      content: "";

      width: 0;
      height: 0;

      margin-right: 1rem;

      border-top: $size solid transparent;
      border-bottom: $size solid transparent;
      border-left: $size solid #000;

      transition: opacity $dur-short;
    }
  }

  &-step:not(._open) &-stepheader:not(:hover)::before {
    opacity: 0;
  }

  &-step._open &-stepheader {
    border-bottom: 1px solid #ccc;
    border-radius: 4px 4px 0 0;

    &::before {
      transform: rotate(90deg);
    }
  }

  &-step:not(._open)._active &-stepheader {
    background-color: mix($system-blue, #fafafa, 5%); // 5% of blue.
    box-shadow: 0 0 0 2px $system-blue;
  }


  &-step-name {
    font-weight: 500;
  }

  &-step-time {
    margin-left: auto;

    color: #999;
    font-size: 0.9rem;
    text-align: right;
  }


  &-stepcontents {
    padding: 0.8rem 1.5rem;
  }

  &-step:not(._open) &-stepcontents {
    display: none;
  }


  &-step-substep {
    &-list {
      display: flex;
      @include row-gap(0rem);
      flex-direction: column;
    }

    &-state {
      display: grid;
      align-items: start;
      column-gap: 1rem;
      grid-template-columns: 1fr auto;

      padding: 0.4rem 0.5rem;
      border: 2px solid transparent;
      border-radius: 4px;

      // test
      position: relative;

      &::before_a {
        content: "";

        $padding-hor: 2px;
        $padding-vert: 3px;

        width: calc(100% - #{$padding-hor * 2});
        height: calc(100% - #{$padding-vert * 2});

        position: absolute;
        left: $padding-hor;
        top: $padding-vert;
        z-index: -1;

        @include striated(rgba($system-blue, 10%), 5px, 5px);
      }

      &._active {
        background-color: rgba($system-blue, 0.05);
        border-color: $system-blue;
      }

      @at-root button#{&} {
        &._active, &._disabled {
          pointer-events: none;
        }

        &:not(._active) {
          &:hover {
            background-color: rgba(#000, 0.02);
            border-color: #ddd;
          }

          &:active {
            background-color: rgba(#000, 0.03);
          }
        }
      }
    }

    &-time {
      color: #999;
      font-size: 0.9rem;

      .valve-list + & {
        margin-top: 0.15rem;
      }
    }

    &-call {
      margin: 0.5rem 0 calc(var(--row-gap) + 0.5rem) 0.5rem !important;
      padding: 0.4rem 0 0.4rem 0.5rem;

      border-left: 4px solid #ddd;
    }

    &-name {
      margin: 0 0 0.4rem 0.5rem;

      font-size: 0.9rem;
    }
  }
}


.warnings {
  & {
    display: flex;
    flex-direction: column;
    @include row-gap(0.5rem);

    margin: 1rem 0 1rem 0.5rem;
  }

  strong {
    position: relative;
    margin-right: 0.5em;

    color: #fff;
    font-family: $monospace-font;

    &::before {
      content: "";

      width: 100%;
      height: 100%;

      position: absolute;
      transform: scale(1.2, 1);
      z-index: -1;

      background-color: $system-orange;
    }
  }
}
