*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: initial;
}

a {
  display: block;

  color: inherit;
  text-decoration: initial;

  &:focus {
    outline: initial;
  }
}

ul {
  margin: initial;
  padding: initial;
}

li {
  display: block;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: initial;
}

h1 {
  // Overrides user agent stylesheet such as section > h1.
  font-size: 2em;
}

p {
  margin: initial;
}

input, button, select, textarea, progress {
  display: block;
  width: 100%;

  margin: initial;
  padding: initial;

  -webkit-appearance: none;
  appearance: none;
  background: initial;
  border: initial;
  outline: initial;

  font: inherit;
  text-align: initial;

  &:disabled {
    color: initial;
    opacity: initial;
    pointer-events: none;
  }

  &:active {
    color: initial;
  }
}

input::placeholder {
  opacity: initial;
}

input[type="submit"], button {
  cursor: pointer;

  &:disabled {
    pointer-events: none;
  }
}

output {
  overflow: hidden;
  text-overflow: ellipsis;
}

:invalid {
  box-shadow: initial;
}

dialog {
  margin: initial;
  padding: initial;

  background-color: transparent;
  border: initial;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

dl, dd {
  margin: initial;
}

samp {
  display: block;

  margin: 1em 0;
}

label {
  display: block;
}

figure {
  margin: initial;
}
